<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="row m-4 g-4">
        <div class="col-6">
            <h1 class="mb-4">Automobile list</h1>
            <div class="list-group" id="automobile-list">
                {{ range .Autos}}
                    {{ block "automobile-list" .}}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ .Make }} {{ .Model }}</h5>
                            <small>{{ .Year }}</small>
                        </div>
                        <p class="mb-1">{{ .Description }}</p>
                        </a>
                    {{ end }}
                {{ end }}
              </div>
        </div>
        <div class="col-4">
            <h1 class="mb-4">Add automobile</h1>
            <form hx-post="/add-automobile/" hx-target="#automobile-list" hx-swap="beforeend">
                <div class="mb-2">
                    <label for="car-make">Car make</label>
                    <input type="text" name="make" id="car-make" class="form-control" />
                </div>
                <div class="mb-2">
                    <label for="car-model">Car model</label>
                    <input type="text" name="model" id="car-model" class="form-control" />
                </div>
                <div class="mb-2">
                    <label for="car-year">Car year</label>
                    <input type="text" name="year" id="car-year" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="car-description">Car description</label>
                    <input type="text" name="description" id="car-description" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>